.idea/
.vscode/
*.iml
target/
*.log
.env
.env.*
!.env.example
application-local.yml
application-local.yaml
application-local.properties
node_modules/
dist/
*.zip
.git-original-history/
tianji/tj-message/tj-message-service/src/main/resources/bootstrap.yml
tjxt-stu/tjxt-stu/tj-message/tj-message-service/src/main/resources/application.yml
tj-portal-src-master/tj-portal-src-master/src/pages/layouts/speechService.js
tianji/tj-media/src/main/resources/bootstrap.yml
